*, html, body,{
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;s
  margin:0;
  padding:0;
  box-sizing:border-box;
  scroll-behavior:smooth;
  -ms-scroll-behavior:smooth;
  -webkit-overflow-scrolling:touch
  top,left,right,bottom:0;
  width:100%;
  height:100vh;
  font-family: 'josefin sans', sans-serif;
  font-size:1em;
  transition:0.3s ease-in-out;
}
a{
  color:#ff5f6b;
}
.order {
  display:flex;
  justify-content:center;
  text-align: center;
  padding:10px 20px;
  background:#ff5f6b;
  width:100px;
  margin-left:0;
  color:white;
  border-radius:10px;

}

.order a{
  color:white;
  text-decoration: none
}

.order:hover{
  color:white;
  opacity:.8;
}

.viber {
  position:fixed;
  bottom:0;
  display:flex;
  justify-content:center;
  text-align: center;
  padding:10px 20px;
  background:#ff5f6b;
  width:100vw;
  margin:0;
  color:white;
}

.viber a{
  color:white;
  text-decoration: none
}

.viber:hover{
  color:white;
  opacity:.8;
}

hr{
  color:black;
  width:100%;
  height:5px;
}

h1{
  font-size:3.5em;
  font-family: 'monoton';
  font-weight:100;
  line-height:.85;
  color:#ff5f6b;
  letter-spacing: 0.01em;
  text-align: left;
  margin-top:0;
  margin-bottom:.25em;

}

h2{
  font-size:1.2em;
  font-family: 'futura';
  line-height:1.25;
  color:#333;
}

h3{
  text-align: center;
  font-family: 'courier';
  font-weight:normal;
  color:#555;
  font-size:1em;
}

p{
  font-size:1em;
  font-family: 'helvetica neue';
  font-weight:normal;
  line-height:1.3;
  color:#666;
}
html{
  background-image:url("img/background.png");
  background-size: 100% auto;
  background-repeat:repeat-y;
  background-attachment:fixed;
}

.header{
  width:100%;
  height:auto;
  display:block;
}

.center{
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
  height:auto;
  box-sizing:border-box;
  padding:0px;
  margin:0;
}
iframe{
  display:block;
  overflow-y:visible;
  background:transparent;
  height:100vh;
  width:100%;
  padding-top:20px;
  box-sizing:border-box;
}

.limited{
  background-image: url(img/posters/duck_061220.jpeg);
  width:100%;
  /*max-height:calc(177vw - 140px);
  height:1000px;*/
  max-height:580px;
  height:calc(100vw - 75px);
  background-size:100% auto;
  background-repeat: no-repeat;
}

#salsa.image{
  display:none !important;
}

.image{
  display:flex;
  background:transparent;
  background-size: 100% auto;
  box-sizing:border-box;
  justify-content:center;
  width:100%;
  height:426.6666666667px;
  overflow: hidden;
  padding:0;
  margin:0;
  background:Red;
}

.image img{
  width:640px;
  height:426.6666666667px;
  background-size: cover;
  background-position: center;
}
.taco{
  background-image:url(img/taco.jpg)
}
.burrito{
  background-image:url(img/burrito.jpg)
}
.salsa{
  background-image:url(img/condiments.jpg);
}
.info{
  display:flex;
  flex-direction:column;
  justify-content:center;
  box-sizing:border-box;
  max-width:640px;
  width: 100%;
  background:#fff9f4;
  border-radius:10px;
  margin:5px 0;
}
.text{
  padding:30px;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}
